# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Model checkpoints and data
*.pkl
*.pth
*.h5

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
venv/
env/
